p,
h1,
h2,
h3,
h4 {
    font-family: Panton;
    text-transform: none !important;
    color: #127790;
    font-weight: normal;
}

h2 > a {
    color: #127790;
}
h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4 {
  color: black;
  font-size: 1.0em; }

p {
  color: black;
}

tw {
  color: #127790;
}
div {
    font-family: Panton;
}

.license {
    font-size: 12pt;
}

section img {
    border: 0;
    background: transparent;
}
em {
  font-size: 10pt;
}

a {
  color: #34302d;
}

img {
  max-height: 700px;
}

ul li {
    margin: 10px;
}


.footer {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.5em;
}

.progress span {

  background-color: #34302d; }


span.clouditem {
  padding-left: 0.15em;
  padding-right: 0.15em;
  line-height: 90%;
}

pre.hljs.code{
  height: 500px;
}

pre.hljs.term {
    height: auto;
    max-height: 500px;
   overflow: auto;
   word-break: normal !important;
   word-wrap: normal !important;
   white-space: pre !important;
}

pre code {
  max-height: 600px;
}

body > div > div.slides > section.stack.present > section.present > table {
  width: 90%;
}
body > div > div.slides > section.stack.present > section.present > table > thead {
  font-size: 20pt;
}

body > div > div.slides > section.stack.present > section.present > table > tbody > tr {
  font-size: 18pt;
}
body > div > div.slides > section.stack.present > section.present > table > tbody > tr > td:nth-child(1) {
  font-weight: bold;

}

body > div.reveal.slide.ready > div.slides > section.stack.present > section > iframe {
  width: 95%;
  min-height: 400px;
  max-height: 700px;
  padding: 10px;
  border: 1px solid lightgrey;
}

section img {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
}
table {
  width: 85%;
}
table th, table td {
  font-size: 24pt;
}

table > tbody > tr > td:nth-child(1) {
  font-weight: bold;

}

.ssh-client {
  width: 95% !important;
  min-height: 400px !important;
  max-height: 700px !important;
  padding: 10px !important;
  border: 1px solid lightgrey !important;
}


#ribbon-content {
    position: relative;
    z-index: 1;
}
#ribbon-content img {
    position: absolute;
    top: -15px;
    right: -10px;
    width: 250px;
    opacity: 0.3;
}

.col1 {
  content: "";
background-color: white;
    float: left;
    width: 2%;
    height:5px;
}
.col2 {
  content: "";
    background-color: #127790;
    float: none;
    width: 45%;
    height:5px;
}
.col3 {
  content: "";
    background-color: white;
    float: right;
    width:auto;
    height:5px;
}

span {
    display: inline-block;
}

.diffuse {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
